# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.parquet

# Environment variables
.env
